body {
  font-family: "Montserrat", serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}
#app{
  min-height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}